

/* Displays what is on an Archive page beside the articles
	--------------------------------------------------------
	
	The article is styled in article.scss
	
*/


html {
  body.archive {
    .container {
      #content { 
      	@include block;
      	margin: $pad*2 0;
      	
      	header {
      		h3 {
      			@include hidden;
      		}
      	}
      
      	aside {
      		@include block;
      		
      		#description {
      			@include block;
      			
      			@include font-text;
      			font-size: larger;
      			color: $color-text-light;
      			text-align: center;
      		}
      		
      		#search {
      			@include block;
      			margin: $pad 0;
      			
      			#fields, ul#search-price-list {
      				margin: 0 auto !important;
      				text-align: center;
      			}
      			
      			#fields {
      				width: $major;
      			}
      			input {
      				font-size: larger;
      			}
      			input[type='text'] {
      				width: $major;
      			}
      			input[type='submit'] {
      				width: auto;
      			}
      			
      			ul#search-price-list {
      				width: $major + $minor/2;
      				
      				font-size: smaller;
      				@include list-inline;
      			}
      			
      		}
      	}
      
        
      }
    }
  }
}   




