

/* Displays what is on an Archive page beside the articles
	--------------------------------------------------------
	
	The article is styled in article.scss
	
*/


html {
  body.archive {
    .container {
      #content { 
      	@include block;
      	margin: $pad*3 0;
      	
      	header {
      		h3 {
      			@include hidden;
      		}
      	}
      	
      	aside {
      		@include block;
      		
      		#description {
      			@include block;
      			
      			@include font-text;
      			font-size: larger;
      			color: $color-text-light;
      			text-align: center;
      		}
      		
      		#search {
      			@include block;
      			margin: $pad 0;
      			
      			#fields, ul#search-price-list {
      				margin: 0 auto;
      				text-align: center;
      			}
      			
      			#fields {
      				width: $major;
      			}
      			input {
      				font-size: larger;
      			}
      			input[type='text'] {
      				width: $major;
      			}
      			input[type='submit'] {
      				width: auto;
      			}
      			
      			ul#search-price-list {
      				width: $major + $minor/2;
      				margin: $pad/2 auto !important;
      				
      				font-size: smaller;
      				@include list-inline;
      			}      			
      		}
      		
      		#thumbs {
      			@include block;
      			@include background-stripe;
      			
      			padding: $pad*2 0;
      			
      			#thumb {
      				@include col(5em, 0, 0);
      				margin: 0 $pad $pad;
      				cursor: pointer;
      				
      				img {
      					width: 100px;
      					border: 1px solid $color-text-light;
      				}
      			}
      		}	
      	}
      
        #trigger {
					@include block;
					text-align: center;
					
      		border-top: 2px solid;
      		margin-bottom: $pad*20;
					
					span {
						font-size: 2em;
						text-align: center;
						cursor: pointer;
						
						background: $color-highlight;
						padding: $pad/4;
					}
					span.down {
						@include hidden;
					}
					span.up {
						display: inline-block;
					}
				}
				#trigger.closed {
					border-top: 1px dotted $color-text-light;
					position: fixed;
					
					span.up {
						@include hidden;
					}
					span.down {
						display: inline-block;
					}
				}
				
      }
    }
  }
}   




