html {
  body {
    .container {
      width: 98%;
      margin: 0 auto;
      
      header {
        @include block;
        
        hgroup {
          h1 {
            @include hidden;
          }
          h2 {
            @include hidden;
          }
          #logo {
            height: $pad2 * 7;
            width: $pad2 * 24 - $pad4; /* an extra space must be add */
            .cell {
              width: $pad2;
              height: $pad2;
              float: left;
            }
            .small {
              width: $pad2 / 2;
            }
            .set {
              background: $color-text;
            }
          }
        }        
        
        nav {       
					margin: $minor/8*3 0 0 $minor/8*3;	
	
					h3 {
						@include hidden;
					}
					
					ul {
						margin: 0;
						background: transparent;
						
						li {
							@include font-heading("Ostrich Rounded");
							@include text-underlined;
							cursor: pointer;
							
							color: $color-text-light;
							
							span {
								@include font-text;
								font-style: italic;
							}
							
							/* Servicii
							*/
							
							dl {
								@include hidden;
								@include font-text;
								cursor: default;
								
								@include startpage-main-div;
								z-index: 1;
								margin: 0;
								
								a, a:visited, a:active {
									@include link-neutral;
								}
								
								dt {
									text-transform: none;
									font-weight: normal;
									padding: $pad;
								}
								
								dd {
									@include block;
									padding-bottom: $pad/2;
									margin: 0;
									
									div#c1 {
										@include col($major, 0, 0);
											
										h5, h6 {
											@include font-text;
											font-size: $pad2;
											padding: $pad/4 0;
											margin-left: $pad;
										}
										h5 {
											text-transform: none;
											font-variant: small-caps;
											border-bottom: 1px dotted;
										}
										h6 {
											font-variant: normal;
											font-style: italic;
											font-size: medium;
											margin-left: $pad*1.2;
										}
									}
									
									div#c2 {
										@include col($minor, 0, 0);
									
										font-size: 2em;
										font-weight: bold;
										@include color-text-inverted;		
										
										position: relative;
										top: -$pad/2;
										
										a, a:visited, a:active {
											@include link-neutral-inverted;
										}
										
										p {
											padding: $pad/4;
											text-align: center;
										}
									}
								}							
							}
							
							/* Cadouri 
							*/
							dl#gifts {
								ul {
									@include col($minor, 0, 0);
									padding: $pad 0;
									
									list-style-type: none;
									
									li {
										font-size: medium;
										@include font-text;
										color: $color-text;
										border-bottom: none;
										
										cursor: pointer;
										
										margin-bottom: 0;
										padding: 0 0 $pad/4 $pad;
									}
									li.active {
										cursor: default;
										font-weight: bold;
									}
									li.hover {
										font-weight: bold;
									}
								}
								div {
									@include col($major, 0, 0);
									$padding: $pad 0;
								}
								
							}
						}
						
						li.active {
							color: $color-text;
							
							dl {
								display: block;
							}
						}
						li.active:after {
							content: "\2605";
							padding-left: $pad/2;
						}
						
						li.hover {
							color: $color-text;
						}
						
					}
        }
        
        aside {
        	@include startpage-main-div;
        	
        	background: $color-highlight;
        	opacity: .97;
        }
      }         
    }    
  }
}

html {
  body {
    .container {

      footer {
        @include block;    
        @include hidden;
        margin: $pad*4 0 $pad*2;
        padding: $pad 0;
        border-top: 1px solid;
        
        ul {
          @include list-inline;          
        }
      }
    }
  }
}  
