html {
  body {
    .container {
      width: 98%;
      margin: 0 auto;
      
      header {
        @include block;
        
        hgroup {
        	@include col($minor, 0, 0);
        	
          h1 {
            @include hidden;
          }
          h2 {
            @include hidden;
          }
          #logo {
            height: $pad2 * 7;
            width: $pad2 * 24 - $pad4; /* an extra space must be add */
            .cell {
              width: $pad2;
              height: $pad2;
              float: left;
            }
            .small {
              width: $pad2 / 2;
            }
            .set {
              background: $color-text;
            }
          }
        }
        
        #menu {
        	@include col($major, 0, 0);
        	
        	header {
        		h3 {
        			@include hidden;
        		}
        	}
        	
        	nav {
        		ul {
        			@include list-inline;
        		}
        	}
        	
        	article {
        		@include hidden;
        	}
        }
      }
    }    
  }
}

html {
  body {
    .container {

      footer {
        @include block;    
        @include hidden;
        margin: $pad*4 0 $pad*2;
        padding: $pad 0;
        border-top: 1px solid;
        
        ul {
          @include list-inline;          
        }
      }
    }
  }
}  
