/* Archive
*/

html {
	body.archive {
		.container {
      header {
        hgroup {
        	@include col($minor, 0, 0);
        
        	#logo {
        		@include logo($pad/4);
        	}
        }
        
        #menu {
        	@include col($major, 0, 0);
        	
        	header, nav, aside {
        		@include hidden;
        	}
        	
        	article#gifts {
        		dl {
        			margin: 0;
        			ul {
        				@include font-heading("Ostrich Rounded");
        				margin: 0;
        				
        				@include list-item-main-menu;
        				
        				li {
        					@include hidden;
        				}
        				li.selected {
        					display: inline-block;
        				}
        			}
        			
        			#image {
        				@include hidden;
        			}
        			
        			#description {
        				#action {
        					@include hidden;
        				}
        			}
        		}
        	}
        	
        	article#services, article#premium {
        		@include hidden
        	}

        }
      }
		}
	}
}






/* Home
*/

html {
  body.home {
    .container {
      header {
        hgroup {
          #logo {
            @include logo($pad/2);
          }
        }
        
        #menu {
        	nav {
        		@include block;
        		
        		ul {
        			@include list-inline;
        			@include font-heading("Ostrich Rounded");
        			
        			@include list-item-main-menu;
        			
        			li.active {
        				@include col (33%, 0, 0);
        			}
        		}
        	}
        	
        	article {
        		@include hidden;
        		@include col (33%, 0, 0);
        		
        		@include font-text;
        	}
        	
        	article#services {
        		dl {
        			@include dlist;
        			
        			dt {
        				padding: 0;
        			}
        			
        			dd {
        				margin-bottom: $pad + $pad/2;
        				
        				#c1 {
        					h6 {
        						@include hidden;
        					}
        				}
        				#c2 {
        					@include hidden;
        				}
        			}
        		}
        	}
        	
        	article#gifts {
        		dl {
        			ul {
        				@include list-categories;
        				
        				margin: 0;
        				padding: 0;
        			}
        			
        			#image {
        				@include hidden;
        			}
        			
        			#description {
        				margin: $pad 0;
								padding: $pad;
								
								@include text-action;
								opacity: .9;
        				
        				#action {
        					@include hidden;
        				}
        			}
        		}
        	}
        	
        	article#premium {
        		ul {
        			@include list-premium;
        			
        			li {
        				font-size: medium;
        				
        				span {
        					font-weight: normal;
        					margin: $pad/8 0;
        					display: inline-block;
        				}
        			}
        		}
        	}
        }
      }
    }    
  }
}




/* General
*/

html {
	body {
		.container {
			width: 98%;
      margin: 0 auto;
      
      header {
        @include block;
        
        hgroup {
        	@include col($minor, 0, 0);
        	
        	h1 {
            @include hidden;
          }
          h2 {
            @include hidden;
          }
        }
        
        #menu {
        	@include col($major, 0, 0);
        	header {
        		h3 {
        			@include hidden;
        		}
        	}
        }
        
        #cart-and-info {
        	position: absolute;
        	top: $pad;
        	right: $pad;
        	width: 11%; /* otherwise the italic on hover is moving the entire ul */
        	
        	ul {
        		font-size: smaller;
        		margin: $pad/2;
        		
        		li {
        			cursor: pointer;
        			
        			ul {
        				display: none;
        			}
        		}
        		li:hover {
        			font-style: italic;
        		}
        	}
        }
      }
      
      footer {
        @include block;    
        @include hidden;
        margin: $pad*4 0 $pad*2;
        padding: $pad 0;
        border-top: 1px solid;
        
        ul {
          @include list-inline;          
        }
      }
		}
	}
}
