/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> 
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

body {
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  font-size: 100%;
  line-height: 1.25;
}
body .container {
  width: 50%;
  margin: 0 auto;
}
body .container h1, body .container h2, body .container h3, body .container h4, body .container h5, body .container h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body .container h1, body .container h2, body .container h3, body .container h4, body .container h5, body .container h6 {
  font-size: 2em;
  padding: 1.25em 0;
  margin-top: 0;
  margin-bottom: 0;
}
body .container h4, body .container h5, body .container h6 {
  font-size: 1em;
  text-transform: uppercase;
}
body .container h1, body .container h4 {
  font-weight: bold;
}
body .container h2 {
  font-weight: bold;
  font-style: italic;
}
body .container h6 {
  text-transform: none;
  font-variant: small-caps;
}
body .container p + p {
  margin-top: 1.25em;
}
body .container q, body .container blockquote {
  margin: 1.25em;
  border-left: 1px dotted;
  padding-left: 1.25em;
  font-style: italic;
  font-size: larger;
}
body .container address {
  font-variant: small-caps;
}
body .container ul, body .container menu, body .container dir, body .container ol {
  margin: 1.25em;
  list-style-type: square;
}
body .container ol {
  list-style-type: decimal;
}
body .container dl {
  margin: 1.25em 0;
}
body .container dl dt {
  font-weight: bold;
  text-transform: uppercase;
}
body .container dl dd {
  margin: 0.625em 1.25em 1.875em;
}
body .container table {
  margin: 1.25em 0;
}
body .container table thead tr td {
  font-weight: bold;
}
body .container table tbody {
  border-top: 1px dotted;
  border-bottom: 1px dotted;
}
body .container table td, body .container table th, body .container table tr {
  text-align: left;
  vertical-align: top;
}
body .container table td {
  padding: 1.25em;
}
body .container em {
  font-style: italic;
}
body .container strong {
  font-weight: bold;
}
body .container input, body .container textarea {
  border: none;
  outline: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: medium;
  font-family: monospace;
}
body .container input[type='text'] {
  border-bottom: 1px solid;
  font-style: italic;
  color: gray;
}
body .container input[type='text']:focus {
  color: black;
  font-style: normal;
}
body .container input[type='submit'] {
  background: black;
  color: lightgray;
  padding: 0.625em;
}
body .container input[type='submit']:hover {
  cursor: pointer;
  color: white;
}
body .container input[type='radio']:after {
  content: '\2610';
  margin-right: 0.625em;
}
body .container input[type='radio']:checked:after {
  content: '\25a3';
}
body .container input[type='checkbox']:after {
  content: '\272A';
  margin-right: 0.3125em;
  font-size: 200%;
  line-height: .5;
  vertical-align: top;
  color: lightgray;
}
body .container input[type='checkbox']:checked:after {
  color: black;
}

/* Site specific mixins
*/
/* startpage main div
*/
/* display post thumbnails 
*/
/* display post description
*/
/* General mixins
*/
/* set z-index

- parent must have set 'position'
- this element must have set weight
- http://www.tjkdesign.com/articles/z-index/teach_yourself_how_elements_stack.asp

*/
/* rotate
*/
/* underline a text with padding and margin
*/
/* make cursor to be pointer
*/
/* list, inline 
*/
/* table, simple
*/
/* make a column 
*/
/* box-shadow
*/
/* make image fit within container
*/
/* hide an element 
*/
/* block element -- expand something full size inside a container
*/
/* Colors
/* ------------------------------------------------------
*/
/* Text 
*/
/* invert color with background */
/* Highlight 
*/
/* FF3, Kuler, Mono */
.highlight {
  background: #ffff33;
  padding: 0.3125em;
}

/* Action 
*/
/* FF3, Kuler, Compound */
/* Cart 
*/
/* Links
*/
/* Backgrounds
*/
/* Fonts
/* ------------------------------------------------------
*/
@font-face {
  font-family: "Ostrich Black";
  src: url('/ostrich/ostrich-black-webfont.eot');
  src: url('/ostrich/ostrich-black-webfont.eot?#iefix') format('eot'), url('fonts/ostrich/ostrich-black-webfont.woff') format('woff'), url('fonts/ostrich/ostrich-black-webfont.ttf') format('truetype'), url('fonts/ostrich/ostrich-black-webfont.svg') format('svg');
}

@font-face {
  font-family: "Ostrich Light";
  src: url('/ostrich/ostrich-light-webfont.eot');
  src: url('/ostrich/ostrich-light-webfont.eot?#iefix') format('eot'), url('fonts/ostrich/ostrich-light-webfont.woff') format('woff'), url('fonts/ostrich/ostrich-light-webfont.ttf') format('truetype'), url('fonts/ostrich/ostrich-light-webfont.svg') format('svg');
}

@font-face {
  font-family: "Ostrich Bold";
  src: url('/ostrich/ostrich-bold-webfont.eot');
  src: url('/ostrich/ostrich-bold-webfont.eot?#iefix') format('eot'), url('fonts/ostrich/ostrich-bold-webfont.woff') format('woff'), url('fonts/ostrich/ostrich-bold-webfont.ttf') format('truetype'), url('fonts/ostrich/ostrich-bold-webfont.svg') format('svg');
}

@font-face {
  font-family: "Ostrich Dashed";
  src: url('/ostrich/ostrich-dashed-webfont.eot');
  src: url('/ostrich/ostrich-dashed-webfont.eot?#iefix') format('eot'), url('fonts/ostrich/ostrich-dashed-webfont.woff') format('woff'), url('fonts/ostrich/ostrich-dashed-webfont.ttf') format('truetype'), url('fonts/ostrich/ostrich-dashed-webfont.svg') format('svg');
}

@font-face {
  font-family: "Ostrich Regular";
  src: url('/ostrich/ostrich-regular-webfont.eot');
  src: url('/ostrich/ostrich-regular-webfont.eot?#iefix') format('eot'), url('fonts/ostrich/ostrich-regular-webfont.woff') format('woff'), url('fonts/ostrich/ostrich-regular-webfont.ttf') format('truetype'), url('fonts/ostrich/ostrich-regular-webfont.svg') format('svg');
}

@font-face {
  font-family: "Ostrich Rounded";
  src: url('/ostrich/ostrich-rounded-webfont.eot');
  src: url('/ostrich/ostrich-rounded-webfont.eot?#iefix') format('eot'), url('fonts/ostrich/ostrich-rounded-webfont.woff') format('woff'), url('fonts/ostrich/ostrich-rounded-webfont.ttf') format('truetype'), url('fonts/ostrich/ostrich-rounded-webfont.svg') format('svg');
}

body .container h1, body .container h2, body .container h3, body .container h4, body .container h5, body .container h6 {
  font-family: "Ostrich Rounded";
  letter-spacing: .1em;
  font-size: 2em;
}

/* Lists
/* ------------------------------------------------------
*/
/* Product filters
*/
/* Home > Menu list item 
*/
/* List arrow, trigger 
*/
/* A simple list first used at Intro > Premium 
*/
/* A simple list first used at Intro > Categories 
*/
/* A dynamic list first used at Intro > Services 
*/
/* Search
/* ------------------------------------------------------
*/
/* Logo
/* ------------------------------------------------------
*/
/* Single Post
*/
html body.single .container header hgroup #logo {
  height: 2.1875em;
  width: 7.34375em;
  /* an extra space must be add */
  position: fixed;
}
html body.single .container header hgroup #logo .cell {
  width: 0.3125em;
  height: 0.3125em;
  float: left;
}
html body.single .container header hgroup #logo .small {
  width: 0.15625em;
}
html body.single .container header hgroup #logo .set {
  background: #1a1a1a;
}
html body.single .container header #menu {
  width: 62.5%;
  margin: 0 0 0 37.5%;
  float: left;
}
html body.single .container header #cart-and-info {
  position: fixed;
}

/* Archive
*/
html body.archive .container header hgroup #logo {
  height: 2.1875em;
  width: 7.34375em;
  /* an extra space must be add */
  position: fixed;
}
html body.archive .container header hgroup #logo .cell {
  width: 0.3125em;
  height: 0.3125em;
  float: left;
}
html body.archive .container header hgroup #logo .small {
  width: 0.15625em;
}
html body.archive .container header hgroup #logo .set {
  background: #1a1a1a;
}
html body.archive .container header #archive-title {
  cursor: pointer;
  position: fixed;
  width: 62.5%;
  margin: 0 0 0 37.5%;
  float: left;
}
html body.archive .container header #archive-title h3 {
  padding: 0;
}
html body.archive .container header #archive-title h3:after {
  content: "\21E3";
  font-size: smaller;
  color: #999999;
}
html body.archive .container header #menu header, html body.archive .container header #menu nav, html body.archive .container header #menu aside {
  display: none;
}
html body.archive .container header #menu article {
  display: none;
}
html body.archive .container header #cart-and-info {
  position: fixed;
}

/* General
*/
html body .container {
  width: 98%;
  margin: 0 auto;
}
html body .container header {
  width: 100%;
  float: left;
}
html body .container header hgroup {
  width: 37.5%;
  margin: 0 0 0 0;
  float: left;
}
html body .container header hgroup h1 {
  display: none;
}
html body .container header hgroup h2 {
  display: none;
}
html body .container header hgroup #logo {
  height: 4.375em;
  width: 14.6875em;
  /* an extra space must be add */
}
html body .container header hgroup #logo .cell {
  width: 0.625em;
  height: 0.625em;
  float: left;
}
html body .container header hgroup #logo .small {
  width: 0.3125em;
}
html body .container header hgroup #logo .set {
  background: #1a1a1a;
}
html body .container header #menu {
  width: 62.5%;
  margin: 0 0 0 0;
  float: left;
}
html body .container header #menu nav {
  width: 100%;
  float: left;
}
html body .container header #menu nav ul {
  display: block;
  margin: 0;
  font-family: "Ostrich Rounded";
  letter-spacing: .1em;
  font-size: 2em;
}
html body .container header #menu nav ul li {
  display: inline-block;
  list-style-type: none;
  margin-left: 0;
}
html body .container header #menu nav ul li {
  cursor: pointer;
}
html body .container header #menu nav ul li span {
  font-family: "Old Standard TT", serif;
  letter-spacing: normal;
  font-style: italic;
  font-weight: normal;
}
html body .container header #menu nav ul li:after {
  content: "\21E3";
  font-size: smaller;
  color: #999999;
}
html body .container header #menu nav ul li.active {
  width: 33%;
  margin: 0 0 0 0;
  float: left;
}
html body .container header #menu header h3 {
  display: none;
}
html body .container header #menu article {
  display: none;
  width: 33%;
  margin: 0 0 0 0;
  float: left;
  font-family: "Old Standard TT", serif;
  letter-spacing: normal;
}
html body .container header #menu article#services dl {
  cursor: default;
}
html body .container header #menu article#services dl dt {
  text-transform: none;
  font-size: 2em;
  font-weight: normal;
  padding: 1.25em;
}
html body .container header #menu article#services dl dd {
  width: 100%;
  float: left;
  padding-bottom: 0.625em;
  margin: 0;
}
html body .container header #menu article#services dl dd div#c1 {
  width: 62.5%;
  margin: 0 0 0 0;
  float: left;
}
html body .container header #menu article#services dl dd div#c1 h5, html body .container header #menu article#services dl dd div#c1 h6 {
  font-family: "Old Standard TT", serif;
  letter-spacing: normal;
  font-size: medium;
  padding: 0.3125em 0;
  margin-left: 1.25em;
}
html body .container header #menu article#services dl dd div#c1 h5 {
  text-transform: none;
  font-variant: small-caps;
  border-bottom: 1px dotted;
}
html body .container header #menu article#services dl dd div#c1 h6 {
  font-variant: normal;
  font-style: italic;
  margin-left: 1.5em;
}
html body .container header #menu article#services dl dd div#c2 {
  width: 37.5%;
  margin: 0 0 0 0;
  float: left;
  font-weight: bold;
  color: white;
  background: #1a1a1a;
  position: relative;
  top: -2em;
}
html body .container header #menu article#services dl dd div#c2 a, html body .container header #menu article#services dl dd div#c2 a:visited, html body .container header #menu article#services dl dd div#c2 a:active {
  color: white;
  text-decoration: none;
}
html body .container header #menu article#services dl dd div#c2 a, html body .container header #menu article#services dl dd div#c2 a:visited, html body .container header #menu article#services dl dd div#c2 a:active {
  color: white;
  text-decoration: none;
}
html body .container header #menu article#services dl dd div#c2 p {
  padding: 0.3125em;
  text-align: center;
  font-size: 4em;
}
html body .container header #menu article#services dl dt {
  padding: 0;
}
html body .container header #menu article#services dl dd {
  margin-bottom: 1.875em;
}
html body .container header #menu article#services dl dd #c1 h6 {
  display: none;
}
html body .container header #menu article#services dl dd #c2 {
  display: none;
}
html body .container header #menu article#gifts dl ul {
  padding: 2.5em 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
html body .container header #menu article#gifts dl ul li {
  font-size: medium;
  font-family: "Old Standard TT", serif;
  letter-spacing: normal;
  color: #1a1a1a;
  cursor: pointer;
  padding: 0.3125em 1.25em;
  border-bottom: none;
}
html body .container header #menu article#gifts dl ul li.active {
  cursor: default;
  font-style: italic;
  font-size: 130%;
  padding: 0.625em 1.25em;
}
html body .container header #menu article#gifts dl ul li.hover {
  font-style: italic;
}
html body .container header #menu article#gifts dl #image {
  display: none;
}
html body .container header #menu article#gifts dl #description {
  margin: 1.25em 0;
  padding: 1.25em;
  background: #1a1a1a;
  color: white;
  font-family: "Lekton", sans-serif;
  opacity: .9;
}
html body .container header #menu article#gifts dl #description a, html body .container header #menu article#gifts dl #description a:visited, html body .container header #menu article#gifts dl #description a:hover {
  text-decoration: underline;
  color: #ffff33;
}
html body .container header #menu article#gifts dl #description #action {
  display: none;
}
html body .container header #menu article#premium ul {
  list-style-type: none;
  padding: 0;
}
html body .container header #menu article#premium ul li {
  font-size: 2em;
  font-weight: normal;
  font-style: italic;
  padding: 0.625em;
  border-bottom: 1px dotted;
}
html body .container header #menu article#premium ul li span {
  font-weight: bold;
  background: #1a1a1a;
  color: white;
  font-family: "Lekton", sans-serif;
  padding: 0.3125em;
}
html body .container header #menu article#premium ul li span a, html body .container header #menu article#premium ul li span a:visited, html body .container header #menu article#premium ul li span a:hover {
  text-decoration: underline;
  color: #ffff33;
}
html body .container header #menu article#premium ul li {
  font-size: medium;
}
html body .container header #menu article#premium ul li span {
  font-weight: normal;
  margin: 0.15625em 0;
  display: inline-block;
}
html body .container header #cart-and-info {
  position: absolute;
  top: 1.25em;
  right: 1.25em;
  width: 11%;
  /* otherwise the italic on hover is moving the entire ul */
  background: white;
  opacity: .9;
}
html body .container header #cart-and-info ul {
  font-size: smaller;
  margin: 0.625em;
}
html body .container header #cart-and-info ul li {
  cursor: pointer;
}
html body .container header #cart-and-info ul li ul {
  display: none;
}
html body .container header #cart-and-info ul li:hover {
  font-style: italic;
}
html body .container footer {
  width: 100%;
  float: left;
  display: none;
  margin: 5em 0 2.5em;
  padding: 1.25em 0;
  border-top: 1px solid;
}
html body .container footer ul {
  display: block;
  margin: 0;
}
html body .container footer ul li {
  display: inline-block;
  list-style-type: none;
  margin-left: 0;
}

html .container #intro {
  width: 100%;
  float: left;
}
html .container #intro header h3 {
  display: none;
}
html .container #intro nav {
  margin: 14.0625% 0 0 14.0625%;
}
html .container #intro nav ul {
  margin: 0;
  background: transparent;
}
html .container #intro nav ul li {
  font-family: "Ostrich Rounded";
  letter-spacing: .1em;
  font-size: 2em;
  margin-bottom: 0.625em;
  padding-bottom: 0.625em;
  border-bottom: 1px solid;
  cursor: pointer;
  color: #999999;
}
html .container #intro nav ul li span {
  font-family: "Old Standard TT", serif;
  letter-spacing: normal;
  font-style: italic;
}
html .container #intro nav ul li.active {
  color: #1a1a1a;
}
html .container #intro nav ul li.active dl {
  display: block;
}
html .container #intro nav ul li.active:after {
  content: "\2605";
  padding-left: 0.625em;
}
html .container #intro nav ul li.hover {
  color: #1a1a1a;
}
html .container #intro aside {
  width: 62.5%;
  height: 62.5%;
  position: absolute;
  top: 14.0625%;
  left: 37.5%;
  background-color: #ffff33;
  opacity: .97;
}
html .container #intro article {
  display: none;
  font-family: "Old Standard TT", serif;
  letter-spacing: normal;
  width: 62.5%;
  height: 62.5%;
  position: absolute;
  top: 14.0625%;
  left: 37.5%;
  z-index: 1;
  margin: 0;
}
html .container #intro article a, html .container #intro article a:visited, html .container #intro article a:active {
  color: #1a1a1a;
  text-decoration: none;
}
html .container #intro article.active {
  display: block;
}
html .container #intro article#services dl {
  cursor: default;
}
html .container #intro article#services dl dt {
  text-transform: none;
  font-size: 2em;
  font-weight: normal;
  padding: 1.25em;
}
html .container #intro article#services dl dd {
  width: 100%;
  float: left;
  padding-bottom: 0.625em;
  margin: 0;
}
html .container #intro article#services dl dd div#c1 {
  width: 62.5%;
  margin: 0 0 0 0;
  float: left;
}
html .container #intro article#services dl dd div#c1 h5, html .container #intro article#services dl dd div#c1 h6 {
  font-family: "Old Standard TT", serif;
  letter-spacing: normal;
  font-size: medium;
  padding: 0.3125em 0;
  margin-left: 1.25em;
}
html .container #intro article#services dl dd div#c1 h5 {
  text-transform: none;
  font-variant: small-caps;
  border-bottom: 1px dotted;
}
html .container #intro article#services dl dd div#c1 h6 {
  font-variant: normal;
  font-style: italic;
  margin-left: 1.5em;
}
html .container #intro article#services dl dd div#c2 {
  width: 37.5%;
  margin: 0 0 0 0;
  float: left;
  font-weight: bold;
  color: white;
  background: #1a1a1a;
  position: relative;
  top: -2em;
}
html .container #intro article#services dl dd div#c2 a, html .container #intro article#services dl dd div#c2 a:visited, html .container #intro article#services dl dd div#c2 a:active {
  color: white;
  text-decoration: none;
}
html .container #intro article#services dl dd div#c2 a, html .container #intro article#services dl dd div#c2 a:visited, html .container #intro article#services dl dd div#c2 a:active {
  color: white;
  text-decoration: none;
}
html .container #intro article#services dl dd div#c2 p {
  padding: 0.3125em;
  text-align: center;
  font-size: 4em;
}
html .container #intro article#gifts dl {
  height: 100%;
  margin: 0;
}
html .container #intro article#gifts dl ul {
  width: 37.5%;
  margin: 0 0 0 0;
  float: left;
  padding: 2.5em 0;
  list-style-type: none;
  background: #ffff33;
  opacity: .9;
}
html .container #intro article#gifts dl ul li {
  font-size: medium;
  font-family: "Old Standard TT", serif;
  letter-spacing: normal;
  color: #1a1a1a;
  cursor: pointer;
  padding: 0.3125em 1.25em;
  border-bottom: none;
}
html .container #intro article#gifts dl ul li.active {
  cursor: default;
  font-style: italic;
  font-size: 130%;
  padding: 0.625em 1.25em;
}
html .container #intro article#gifts dl ul li.hover {
  font-style: italic;
}
html .container #intro article#gifts dl div#image {
  width: 62.5%;
  margin: 0 0 0 0;
  float: left;
  padding: 0;
  height: 100%;
  background-color: #ffff33;
  background-repeat: no-repeat;
  background-position: 37.5% 62.5%;
}
html .container #intro article#gifts dl div#description {
  position: relative;
  width: 37.5%;
  min-height: 14.0625%;
  top: -62.5%;
  left: 23.4375%;
  padding: 1.25em;
  display: inline-block;
  background: #1a1a1a;
  color: white;
  font-family: "Lekton", sans-serif;
  opacity: .9;
}
html .container #intro article#gifts dl div#description a, html .container #intro article#gifts dl div#description a:visited, html .container #intro article#gifts dl div#description a:hover {
  text-decoration: underline;
  color: #ffff33;
}
html .container #intro article#premium ul {
  list-style-type: none;
  padding: 0;
}
html .container #intro article#premium ul li {
  font-size: 2em;
  font-weight: normal;
  font-style: italic;
  padding: 0.625em;
  border-bottom: 1px dotted;
}
html .container #intro article#premium ul li span {
  font-weight: bold;
  background: #1a1a1a;
  color: white;
  font-family: "Lekton", sans-serif;
  padding: 0.3125em;
}
html .container #intro article#premium ul li span a, html .container #intro article#premium ul li span a:visited, html .container #intro article#premium ul li span a:hover {
  text-decoration: underline;
  color: #ffff33;
}

/* Displays an Article whenever is single or in archive
	--------------------------------------------------------
*/
/* Product Browser
*/
html body .container #content #products article {
  display: none;
  padding: 2.5em;
}
html body .container #content #products article header {
  display: block;
}
html body .container #content #products article header h1 {
  padding: 0;
  text-align: center;
}
html body .container #content #products article header h1 a {
  color: #1a1a1a;
  text-decoration: none;
}
html body .container #content #products article footer {
  display: none;
}
html body .container #content #products article .entry {
  width: 100%;
  float: left;
}
html body .container #content #products article .entry .more, html body .container #content #products article .entry .thumbs, html body .container #content #products article .entry .excerpt, html body .container #content #products article .entry .body {
  display: none;
}
html body .container #content #products article .entry .shopping {
  width: 62.5%;
  margin: 0 0 0 0;
  float: left;
  margin: 0;
  position: relative;
  bottom: auto;
  top: -1.25em;
}
html body .container #content #products article.active {
  display: block;
}

/* Archive

	- Overrides for the single article style

*/
html body.archive .container #content article.list {
  width: 100%;
  float: left;
}
html body.archive .container #content article.list footer {
  position: relative;
  bottom: auto;
  top: -25em;
}
html body.archive .container #content article.list .entry .featured-image {
  width: 62.5%;
  margin: 0 0 0 0;
  float: left;
  float: right;
}
html body.archive .container #content article.list .entry .thumbs {
  display: none;
}
html body.archive .container #content article.list .entry .shopping, html body.archive .container #content article.list .entry .more {
  position: relative;
  bottom: auto;
}
html body.archive .container #content article.list .entry .more {
  top: -5em;
}
html body.archive .container #content article.list .entry .excerpt {
  position: relative;
  top: -30em;
}

/* Single

	- This is the default, other styles are overwriting this

*/
html body .container #content article.post header {
  display: none;
}
html body .container #content article.post footer {
  width: 37.5%;
  margin: 0 0 0 0;
  float: left;
  display: block;
  padding: 0;
  border: none;
  position: absolute;
  bottom: 1.25em;
}
html body .container #content article.post footer h1 {
  color: white;
  background: #1a1a1a;
  padding: 1.25em;
  opacity: .9;
}
html body .container #content article.post footer h1 a, html body .container #content article.post footer h1 a:visited, html body .container #content article.post footer h1 a:active {
  color: white;
  text-decoration: none;
}
html body .container #content article.post footer .shopping {
  display: none;
}
html body .container #content article.post .entry {
  width: 100%;
  float: left;
}
html body .container #content article.post .entry .featured-image {
  text-align: right;
}
html body .container #content article.post .entry .shopping {
  width: 37.5%;
  margin: 0 0 0 37.5%;
  float: left;
  background: #ff3333;
  color: #1a1a1a;
  font-family: "Old Standard TT", serif;
  letter-spacing: normal;
  font-style: italic;
  position: absolute;
  bottom: 1.25em;
}
html body .container #content article.post .entry .shopping a, html body .container #content article.post .entry .shopping a:visited, html body .container #content article.post .entry .shopping a:hover {
  text-decoration: underline;
  color: #1a1a1a;
}
html body .container #content article.post .entry .shopping #add-to-cart {
  width: 100%;
  float: left;
  margin: 0;
  padding: 1.25em;
}
html body .container #content article.post .entry .more {
  width: 18.75%;
  margin: 0 0 0 75%;
  float: left;
  position: absolute;
  bottom: 1.25em;
  opacity: .9;
  background: white;
  padding: 1.25em;
}
html body .container #content article.post .entry .thumbs {
  width: 62.5%;
  margin: 0 0 0 0;
  float: left;
}
html body .container #content article.post .entry .thumbs .thumb {
  width: 18.75%;
  margin: 0 0 0 0;
  float: left;
  margin: 2.5em 0.625em 0 0;
  padding: 0.3125em;
  border: 1px solid #999999;
}
html body .container #content article.post .entry .excerpt {
  width: 37.5%;
  margin: 0 0 0 0;
  float: left;
}
html body .container #content article.post .entry .excerpt p {
  font-size: 2em;
  font-family: "Old Standard TT", serif;
  letter-spacing: normal;
  font-style: italic;
  color: #999999;
  padding: 1.25em;
}
html body .container #content article.post .entry .body {
  width: 62.5%;
  margin: 0 0 0 38.25%;
  float: left;
}
html body .container #content article.post .entry .body h3 {
  display: block;
  padding-bottom: 0.3125em;
  border-bottom: 1px solid;
  cursor: pointer;
}
html body .container #content article.post .entry .body h3:after {
  content: "\21E3";
  font-size: smaller;
  color: #999999;
}
html body .container #content article.post .entry .body h3 + .pane {
  display: none;
  margin: 2.5em 0;
}
html body .container #content article.post .entry .body .pane {
  /* Comments
  */
}
html body .container #content article.post .entry .body .pane #comments-title {
  display: none;
}
html body .container #content article.post .entry .body .pane ol.commentlist {
  list-style-type: none;
  padding: 0;
  font-size: smaller;
}
html body .container #content article.post .entry .body .pane ol.commentlist li {
  font-size: 2em;
  font-weight: normal;
  font-style: italic;
  padding: 0.625em;
  border-bottom: 1px dotted;
}
html body .container #content article.post .entry .body .pane ol.commentlist li span {
  font-weight: bold;
  background: #1a1a1a;
  color: white;
  font-family: "Lekton", sans-serif;
  padding: 0.3125em;
}
html body .container #content article.post .entry .body .pane ol.commentlist li span a, html body .container #content article.post .entry .body .pane ol.commentlist li span a:visited, html body .container #content article.post .entry .body .pane ol.commentlist li span a:hover {
  text-decoration: underline;
  color: #ffff33;
}
html body .container #content article.post .entry .body .pane ol.commentlist li {
  font-size: medium;
  margin-bottom: 2.5em;
}
html body .container #content article.post .entry .body .pane ol.commentlist li a, html body .container #content article.post .entry .body .pane ol.commentlist li a:visited, html body .container #content article.post .entry .body .pane ol.commentlist li a:active {
  color: #1a1a1a;
  text-decoration: none;
}
html body .container #content article.post .entry .body .pane ol.commentlist li .comment-body p {
  margin: 1.25em 0;
}
html body .container #content article.post .entry .body .pane ol.commentlist li .comment-body .comment-author .fn {
  font-size: larger;
  margin: 0 0.3125em;
  font-weight: bold;
  background: #1a1a1a;
  color: white;
  font-family: "Lekton", sans-serif;
  padding: 0.3125em;
  position: relative;
  top: -0.625em;
}
html body .container #content article.post .entry .body .pane ol.commentlist li .comment-body .comment-author .fn a, html body .container #content article.post .entry .body .pane ol.commentlist li .comment-body .comment-author .fn a:visited, html body .container #content article.post .entry .body .pane ol.commentlist li .comment-body .comment-author .fn a:hover {
  text-decoration: underline;
  color: #ffff33;
}
html body .container #content article.post .entry .body .pane ol.commentlist li .comment-body .comment-author .says {
  display: none;
}
html body .container #content article.post .entry .body .pane ol.commentlist li .comment-body .comment-meta {
  position: relative;
  top: -2.5em;
  float: right;
}
html body .container #content article.post .entry .body .pane ol.commentlist li .comment-body .comment-meta a {
  color: #999999;
  border-bottom: 1px solid;
  padding-bottom: 0.3125em;
}
html body .container #content article.post .entry .body .pane ol.commentlist li .comment-body .comment-meta a.comment-edit-link {
  display: none;
}
html body .container #content article.post .entry .body .pane #respond h3 {
  display: block;
}
html body .container #content article.post .entry .body .pane #respond .form-allowed-tags {
  display: none;
}

/* Displays what is on an Archive page beside the articles
	--------------------------------------------------------
	
	The article is styled in article.scss
	
*/
html body.archive .container #content {
  width: 100%;
  float: left;
  margin: 3.75em 0;
}
html body.archive .container #content header h3 {
  display: none;
}
html body.archive .container #content aside {
  width: 100%;
  float: left;
}
html body.archive .container #content aside #description, html body.archive .container #content aside #search, html body.archive .container #content aside #filters {
  width: 30%;
  margin: 0 5% 0 0;
  float: left;
  margin-top: 1.25em;
}
html body.archive .container #content aside #description ul, html body.archive .container #content aside #search ul, html body.archive .container #content aside #filters ul {
  font-family: "Old Standard TT", serif;
  letter-spacing: normal;
  list-style-type: none;
}
html body.archive .container #content aside #description ul li, html body.archive .container #content aside #search ul li, html body.archive .container #content aside #filters ul li {
  padding-bottom: 0.3125em;
  margin-bottom: 0.3125em;
  border-bottom: 1px dotted;
}
html body.archive .container #content aside #description {
  background: #ffff33;
  font-family: "Lekton", sans-serif;
}
html body.archive .container #content aside #description p {
  padding: 1.25em;
}
html body.archive .container #content aside #search input[type='text'] {
  width: 62.5%;
  margin: 0 5% 0 0;
  float: left;
}
html body.archive .container #content aside #search ul {
  margin: 1.25em 0;
}
html body.archive .container #content aside #filters {
  margin-right: 0;
}
html body.archive .container #content aside #filters h5 {
  padding: 0;
}
html body.archive .container #content aside #thumbs {
  width: 100%;
  float: left;
  background: transparent url(stripe.png);
  padding: 2.5em 0;
}
html body.archive .container #content aside #thumbs #thumb {
  width: 5em;
  margin: 0 0 0 0;
  float: left;
  margin: 0 1.25em 1.25em;
  cursor: pointer;
}
html body.archive .container #content aside #thumbs #thumb img {
  width: 100px;
  border: 1px solid #999999;
}
html body.archive .container #content #trigger {
  width: 100%;
  float: left;
  text-align: center;
  border-top: 1px solid;
  margin-bottom: 25em;
}
html body.archive .container #content #trigger span {
  font-size: 2em;
  text-align: center;
  cursor: pointer;
  background: #ffff33;
  padding: 0.3125em;
}
html body.archive .container #content #trigger span.down {
  display: none;
}
html body.archive .container #content #trigger span.up {
  display: inline-block;
}
html body.archive .container #content #trigger.closed {
  border-top: 1px dotted #999999;
  position: fixed;
}
html body.archive .container #content #trigger.closed span.up {
  display: none;
}
html body.archive .container #content #trigger.closed span.down {
  display: inline-block;
}

/* Displays what is on a Single page beside the post / article
	--------------------------------------------------------
	
	The post is styled in article.scss
	
*/
html body.single .container #content #shopping-incentives {
  width: 100%;
  float: left;
  margin: 5em 0;
  padding: 2.5em 0;
  background: transparent url(stripe.png);
}
html body.single .container #content #shopping-incentives #incentives {
  width: 62.5%;
  margin: 0 0 0 0;
  float: left;
}
html body.single .container #content #shopping-incentives #incentives ul {
  list-style-type: none;
  padding: 0;
}
html body.single .container #content #shopping-incentives #incentives ul li {
  font-size: 2em;
  font-weight: normal;
  font-style: italic;
  padding: 0.625em;
  border-bottom: 1px dotted;
}
html body.single .container #content #shopping-incentives #incentives ul li span {
  font-weight: bold;
  background: #1a1a1a;
  color: white;
  font-family: "Lekton", sans-serif;
  padding: 0.3125em;
}
html body.single .container #content #shopping-incentives #incentives ul li span a, html body.single .container #content #shopping-incentives #incentives ul li span a:visited, html body.single .container #content #shopping-incentives #incentives ul li span a:hover {
  text-decoration: underline;
  color: #ffff33;
}
html body.single .container #content #shopping-incentives #incentives ul li {
  font-size: medium;
  background: white;
}
html body.single .container #content #shopping-incentives #incentives ul li span {
  font-weight: normal;
}
html body.single .container #content #shopping-incentives #action {
  width: 37.5%;
  margin: 0 0 0 0;
  float: left;
}
html body.single .container #content #shopping-incentives #action h2 {
  padding: 1.25em;
  font-family: "Ostrich Bold";
  letter-spacing: .1em;
  font-size: 2em;
}
html body.single .container #content #shopping-incentives #action #add-to-cart {
  margin: 2.5em;
  padding: 1.25em;
  background: #ff3333;
  color: #1a1a1a;
  font-family: "Old Standard TT", serif;
  letter-spacing: normal;
  font-style: italic;
}
html body.single .container #content #shopping-incentives #action #add-to-cart a, html body.single .container #content #shopping-incentives #action #add-to-cart a:visited, html body.single .container #content #shopping-incentives #action #add-to-cart a:hover {
  text-decoration: underline;
  color: #1a1a1a;
}
html body.single .container #content #add-to-cart, html body.single .container #content #add-to-wishlist, html body.single .container #content #subscribe-to-newsletter {
  width: 81.25%;
  margin: 0 0 0 9.375%;
  float: left;
}
html body.single .container #content #add-to-cart #incentives, html body.single .container #content #add-to-wishlist #incentives, html body.single .container #content #subscribe-to-newsletter #incentives {
  width: 62.5%;
  margin: 0 9.375% 0 0;
  float: left;
  border-bottom: 1px solid;
}
html body.single .container #content #add-to-cart #incentives dl, html body.single .container #content #add-to-wishlist #incentives dl, html body.single .container #content #subscribe-to-newsletter #incentives dl {
  cursor: default;
  margin: 0;
}
html body.single .container #content #add-to-cart #incentives dl dt, html body.single .container #content #add-to-wishlist #incentives dl dt, html body.single .container #content #subscribe-to-newsletter #incentives dl dt {
  text-transform: none;
  font-size: 2em;
  font-weight: normal;
  padding: 1.25em;
}
html body.single .container #content #add-to-cart #incentives dl dd, html body.single .container #content #add-to-wishlist #incentives dl dd, html body.single .container #content #subscribe-to-newsletter #incentives dl dd {
  width: 100%;
  float: left;
  padding-bottom: 0.625em;
  margin: 0;
}
html body.single .container #content #add-to-cart #incentives dl dd div#c1, html body.single .container #content #add-to-wishlist #incentives dl dd div#c1, html body.single .container #content #subscribe-to-newsletter #incentives dl dd div#c1 {
  width: 62.5%;
  margin: 0 0 0 0;
  float: left;
}
html body.single .container #content #add-to-cart #incentives dl dd div#c1 h5, html body.single .container #content #add-to-cart #incentives dl dd div#c1 h6, html body.single .container #content #add-to-wishlist #incentives dl dd div#c1 h5, html body.single .container #content #add-to-wishlist #incentives dl dd div#c1 h6, html body.single .container #content #subscribe-to-newsletter #incentives dl dd div#c1 h5, html body.single .container #content #subscribe-to-newsletter #incentives dl dd div#c1 h6 {
  font-family: "Old Standard TT", serif;
  letter-spacing: normal;
  font-size: medium;
  padding: 0.3125em 0;
  margin-left: 1.25em;
}
html body.single .container #content #add-to-cart #incentives dl dd div#c1 h5, html body.single .container #content #add-to-wishlist #incentives dl dd div#c1 h5, html body.single .container #content #subscribe-to-newsletter #incentives dl dd div#c1 h5 {
  text-transform: none;
  font-variant: small-caps;
  border-bottom: 1px dotted;
}
html body.single .container #content #add-to-cart #incentives dl dd div#c1 h6, html body.single .container #content #add-to-wishlist #incentives dl dd div#c1 h6, html body.single .container #content #subscribe-to-newsletter #incentives dl dd div#c1 h6 {
  font-variant: normal;
  font-style: italic;
  margin-left: 1.5em;
}
html body.single .container #content #add-to-cart #incentives dl dd div#c2, html body.single .container #content #add-to-wishlist #incentives dl dd div#c2, html body.single .container #content #subscribe-to-newsletter #incentives dl dd div#c2 {
  width: 37.5%;
  margin: 0 0 0 0;
  float: left;
  font-weight: bold;
  color: white;
  background: #1a1a1a;
  position: relative;
  top: -2em;
}
html body.single .container #content #add-to-cart #incentives dl dd div#c2 a, html body.single .container #content #add-to-cart #incentives dl dd div#c2 a:visited, html body.single .container #content #add-to-cart #incentives dl dd div#c2 a:active, html body.single .container #content #add-to-wishlist #incentives dl dd div#c2 a, html body.single .container #content #add-to-wishlist #incentives dl dd div#c2 a:visited, html body.single .container #content #add-to-wishlist #incentives dl dd div#c2 a:active, html body.single .container #content #subscribe-to-newsletter #incentives dl dd div#c2 a, html body.single .container #content #subscribe-to-newsletter #incentives dl dd div#c2 a:visited, html body.single .container #content #subscribe-to-newsletter #incentives dl dd div#c2 a:active {
  color: white;
  text-decoration: none;
}
html body.single .container #content #add-to-cart #incentives dl dd div#c2 a, html body.single .container #content #add-to-cart #incentives dl dd div#c2 a:visited, html body.single .container #content #add-to-cart #incentives dl dd div#c2 a:active, html body.single .container #content #add-to-wishlist #incentives dl dd div#c2 a, html body.single .container #content #add-to-wishlist #incentives dl dd div#c2 a:visited, html body.single .container #content #add-to-wishlist #incentives dl dd div#c2 a:active, html body.single .container #content #subscribe-to-newsletter #incentives dl dd div#c2 a, html body.single .container #content #subscribe-to-newsletter #incentives dl dd div#c2 a:visited, html body.single .container #content #subscribe-to-newsletter #incentives dl dd div#c2 a:active {
  color: white;
  text-decoration: none;
}
html body.single .container #content #add-to-cart #incentives dl dd div#c2 p, html body.single .container #content #add-to-wishlist #incentives dl dd div#c2 p, html body.single .container #content #subscribe-to-newsletter #incentives dl dd div#c2 p {
  padding: 0.3125em;
  text-align: center;
  font-size: 4em;
}
html body.single .container #content #add-to-cart #incentives dl dt, html body.single .container #content #add-to-wishlist #incentives dl dt, html body.single .container #content #subscribe-to-newsletter #incentives dl dt {
  padding-bottom: 0;
  font-size: 1.5em;
}
html body.single .container #content #add-to-cart #incentives dl dd, html body.single .container #content #add-to-wishlist #incentives dl dd, html body.single .container #content #subscribe-to-newsletter #incentives dl dd {
  margin: 0 1.875em;
}
html body.single .container #content #add-to-cart #action, html body.single .container #content #add-to-wishlist #action, html body.single .container #content #subscribe-to-newsletter #action {
  width: 25%;
  margin: 0 0 0 0;
  float: left;
  font-size: 7.5em;
  color: #ff3333;
  text-align: center;
}
html body.single .container #content #add-to-cart #action #cart-logo {
  display: inline-block;
  font-size: medium;
  text-align: center;
  width: 7.5em;
  height: 7.5em;
  border-radius: 5em;
  background: #ff3333;
  color: white;
  font-family: "Old Standard TT", serif;
  letter-spacing: normal;
  font-style: italic;
}
html body.single .container #content #add-to-cart #action #cart-logo a, html body.single .container #content #add-to-cart #action #cart-logo a:visited, html body.single .container #content #add-to-cart #action #cart-logo a:hover {
  text-decoration: underline;
  color: white;
}
html body.single .container #content #add-to-cart #action #cart-logo span {
  font-size: 1.5em;
  display: block;
  margin-top: 0.625em;
}
html body.single .container #content #product-browser {
  width: 100%;
  float: left;
  margin: 5em 0;
}
html body.single .container #content #product-browser aside {
  width: 37.5%;
  margin: 0 0 0 0;
  float: left;
  margin-top: 1.25em;
}
html body.single .container #content #product-browser aside ul {
  font-family: "Old Standard TT", serif;
  letter-spacing: normal;
  list-style-type: none;
  margin: 0;
}
html body.single .container #content #product-browser aside ul li {
  padding-bottom: 0.3125em;
  margin-bottom: 0.3125em;
  border-bottom: 1px dotted;
}
html body.single .container #content #product-browser aside ul li span {
  font-style: italic;
}
html body.single .container #content #product-browser aside #search input[type='text'] {
  width: 62.5%;
  margin: 0 5% 0 0;
  float: left;
}
html body.single .container #content #product-browser aside #search div {
  margin: 2.5em 0;
}
html body.single .container #content #product-browser #products {
  width: 61.875%;
  margin: 0 0 0 0;
  float: left;
  border: 1px dotted;
}
html body.single .container #content #product-browser #scroller {
  width: 18.75%;
  margin: 0 0 0 0;
  float: left;
  position: relative;
  top: -5em;
  right: 1.25em;
  float: right;
}
html body.single .container #content #product-browser #scroller ul {
  margin: 0;
  display: block;
  margin: 0;
}
html body.single .container #content #product-browser #scroller ul li {
  display: inline-block;
  list-style-type: none;
  margin-left: 0;
}
html body.single .container #content #product-browser #scroller ul li {
  font-size: 2em;
  padding: 0.3125em;
  background: #ffff33;
}
html body.single .container #content #intro {
  position: relative;
}

html body .container #content article.page {
  width: 100%;
  float: left;
}
html body .container #content article.page header {
  float: none;
}
html body .container #checkout {
  width: 20%;
  margin: 0 0 0 0;
  float: left;
  display: block;
}

/* Generally available settings
*/
img {
  max-width: 100%;
  height: auto;
}
