/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> 
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

body {
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  font-size: 100%;
  line-height: 1.25;
}
body .container {
  width: 50%;
  margin: 0 auto;
}
body .container h1, body .container h2, body .container h3, body .container h4, body .container h5, body .container h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body .container h1, body .container h2, body .container h3, body .container h4, body .container h5, body .container h6 {
  font-size: 2em;
  padding: 1.25em 0;
  margin-top: 0;
  margin-bottom: 0;
}
body .container h4, body .container h5, body .container h6 {
  font-size: 1em;
  text-transform: uppercase;
}
body .container h1, body .container h4 {
  font-weight: bold;
}
body .container h2 {
  font-weight: bold;
  font-style: italic;
}
body .container h6 {
  text-transform: none;
  font-variant: small-caps;
}
body .container p + p {
  margin-top: 1.25em;
}
body .container q, body .container blockquote {
  margin: 1.25em;
  border-left: 1px dotted;
  padding-left: 1.25em;
  font-style: italic;
  font-size: larger;
}
body .container address {
  font-variant: small-caps;
}
body .container ul, body .container menu, body .container dir, body .container ol {
  margin: 1.25em;
  list-style-type: square;
}
body .container ol {
  list-style-type: decimal;
}
body .container dl {
  margin: 1.25em 0;
}
body .container dl dt {
  font-weight: bold;
  text-transform: uppercase;
}
body .container dl dd {
  margin: 0.625em 1.25em 1.875em;
}
body .container table {
  margin: 1.25em 0;
}
body .container table thead tr td {
  font-weight: bold;
}
body .container table tbody {
  border-top: 1px dotted;
  border-bottom: 1px dotted;
}
body .container table td, body .container table th, body .container table tr {
  text-align: left;
  vertical-align: top;
}
body .container table td {
  padding: 1.25em;
}
body .container em {
  font-style: italic;
}
body .container strong {
  font-weight: bold;
}

/* Site specific mixins
*/
/* startpage main div
*/
/* display post thumbnails 
*/
/* display post description
*/
/* General mixins
*/
/* set z-index

- parent must have set 'position'
- this element must have set weight
- http://www.tjkdesign.com/articles/z-index/teach_yourself_how_elements_stack.asp

*/
/* rotate
*/
/* underline a text with padding and margin
*/
/* make cursor to be pointer
*/
/* list, inline 
*/
/* table, simple
*/
/* make a column 
*/
/* box-shadow
*/
/* make image fit within container
*/
/* hide an element 
*/
/* block element -- expand something full size inside a container
*/
/* Colors
*/
/* Text */
/* invert color with background */
/* Highlight */
/* FF3, Kuler, Mono */
/* Action */
/* FF3, Kuler, Compound */
/* Cart */
/* Links
*/
/* Fonts
*/
@font-face {
  font-family: "Ostrich Black";
  src: url('/ostrich/ostrich-black-webfont.eot');
  src: url('/ostrich/ostrich-black-webfont.eot?#iefix') format('eot'), url('fonts/ostrich/ostrich-black-webfont.woff') format('woff'), url('fonts/ostrich/ostrich-black-webfont.ttf') format('truetype'), url('fonts/ostrich/ostrich-black-webfont.svg') format('svg');
}

@font-face {
  font-family: "Ostrich Light";
  src: url('/ostrich/ostrich-light-webfont.eot');
  src: url('/ostrich/ostrich-light-webfont.eot?#iefix') format('eot'), url('fonts/ostrich/ostrich-light-webfont.woff') format('woff'), url('fonts/ostrich/ostrich-light-webfont.ttf') format('truetype'), url('fonts/ostrich/ostrich-light-webfont.svg') format('svg');
}

@font-face {
  font-family: "Ostrich Bold";
  src: url('/ostrich/ostrich-bold-webfont.eot');
  src: url('/ostrich/ostrich-bold-webfont.eot?#iefix') format('eot'), url('fonts/ostrich/ostrich-bold-webfont.woff') format('woff'), url('fonts/ostrich/ostrich-bold-webfont.ttf') format('truetype'), url('fonts/ostrich/ostrich-bold-webfont.svg') format('svg');
}

@font-face {
  font-family: "Ostrich Dashed";
  src: url('/ostrich/ostrich-dashed-webfont.eot');
  src: url('/ostrich/ostrich-dashed-webfont.eot?#iefix') format('eot'), url('fonts/ostrich/ostrich-dashed-webfont.woff') format('woff'), url('fonts/ostrich/ostrich-dashed-webfont.ttf') format('truetype'), url('fonts/ostrich/ostrich-dashed-webfont.svg') format('svg');
}

@font-face {
  font-family: "Ostrich Regular";
  src: url('/ostrich/ostrich-regular-webfont.eot');
  src: url('/ostrich/ostrich-regular-webfont.eot?#iefix') format('eot'), url('fonts/ostrich/ostrich-regular-webfont.woff') format('woff'), url('fonts/ostrich/ostrich-regular-webfont.ttf') format('truetype'), url('fonts/ostrich/ostrich-regular-webfont.svg') format('svg');
}

@font-face {
  font-family: "Ostrich Rounded";
  src: url('/ostrich/ostrich-rounded-webfont.eot');
  src: url('/ostrich/ostrich-rounded-webfont.eot?#iefix') format('eot'), url('fonts/ostrich/ostrich-rounded-webfont.woff') format('woff'), url('fonts/ostrich/ostrich-rounded-webfont.ttf') format('truetype'), url('fonts/ostrich/ostrich-rounded-webfont.svg') format('svg');
}

body .container h1, body .container h2, body .container h3, body .container h4, body .container h5, body .container h6 {
  font-family: "Ostrich Rounded";
  letter-spacing: .1em;
  font-size: 2em;
}

/* Lists
*/
/* Home > Menu list item */
/* List arrow, trigger */
/* A simple list firts used at Intro > Premium */
/* A simple list first used at Intro > Categories */
/* A dynamic list first used at Intro > Services */
/* Logo
*/
/* Single Post
*/
html body.single .container header {
  display: none;
}

/* Archive
*/
html body.archive .container header hgroup {
  width: 37.5%;
  margin: 0 0 0 0;
  float: left;
}
html body.archive .container header hgroup #logo {
  height: 2.1875em;
  width: 7.34375em;
  /* an extra space must be add */
}
html body.archive .container header hgroup #logo .cell {
  width: 0.3125em;
  height: 0.3125em;
  float: left;
}
html body.archive .container header hgroup #logo .small {
  width: 0.15625em;
}
html body.archive .container header hgroup #logo .set {
  background: #1a1a1a;
}
html body.archive .container header #archive-title {
  cursor: pointer;
}
html body.archive .container header #archive-title h3 {
  padding: 0;
}
html body.archive .container header #archive-title h3:after {
  content: "\21E3";
  font-size: smaller;
  color: #999999;
}
html body.archive .container header #menu {
  width: 62.5%;
  margin: 0 0 0 0;
  float: left;
}
html body.archive .container header #menu header, html body.archive .container header #menu nav, html body.archive .container header #menu aside {
  display: none;
}
html body.archive .container header #menu article {
  display: none;
}

/* General
*/
html body .container {
  width: 98%;
  margin: 0 auto;
}
html body .container header {
  width: 100%;
  float: left;
}
html body .container header hgroup {
  width: 37.5%;
  margin: 0 0 0 0;
  float: left;
}
html body .container header hgroup h1 {
  display: none;
}
html body .container header hgroup h2 {
  display: none;
}
html body .container header hgroup #logo {
  height: 4.375em;
  width: 14.6875em;
  /* an extra space must be add */
}
html body .container header hgroup #logo .cell {
  width: 0.625em;
  height: 0.625em;
  float: left;
}
html body .container header hgroup #logo .small {
  width: 0.3125em;
}
html body .container header hgroup #logo .set {
  background: #1a1a1a;
}
html body .container header #menu {
  width: 62.5%;
  margin: 0 0 0 0;
  float: left;
}
html body .container header #menu nav {
  width: 100%;
  float: left;
}
html body .container header #menu nav ul {
  display: block;
  margin: 0;
  font-family: "Ostrich Rounded";
  letter-spacing: .1em;
  font-size: 2em;
}
html body .container header #menu nav ul li {
  display: inline-block;
  list-style-type: none;
  margin-left: 0;
}
html body .container header #menu nav ul li {
  cursor: pointer;
}
html body .container header #menu nav ul li span {
  font-family: "Old Standard TT", serif;
  letter-spacing: normal;
  font-style: italic;
  font-weight: normal;
}
html body .container header #menu nav ul li:after {
  content: "\21E3";
  font-size: smaller;
  color: #999999;
}
html body .container header #menu nav ul li.active {
  width: 33%;
  margin: 0 0 0 0;
  float: left;
}
html body .container header #menu header h3 {
  display: none;
}
html body .container header #menu article {
  display: none;
  width: 33%;
  margin: 0 0 0 0;
  float: left;
  font-family: "Old Standard TT", serif;
  letter-spacing: normal;
}
html body .container header #menu article#services dl {
  cursor: default;
}
html body .container header #menu article#services dl dt {
  text-transform: none;
  font-size: 2em;
  font-weight: normal;
  padding: 1.25em;
}
html body .container header #menu article#services dl dd {
  width: 100%;
  float: left;
  padding-bottom: 0.625em;
  margin: 0;
}
html body .container header #menu article#services dl dd div#c1 {
  width: 62.5%;
  margin: 0 0 0 0;
  float: left;
}
html body .container header #menu article#services dl dd div#c1 h5, html body .container header #menu article#services dl dd div#c1 h6 {
  font-family: "Old Standard TT", serif;
  letter-spacing: normal;
  font-size: medium;
  padding: 0.3125em 0;
  margin-left: 1.25em;
}
html body .container header #menu article#services dl dd div#c1 h5 {
  text-transform: none;
  font-variant: small-caps;
  border-bottom: 1px dotted;
}
html body .container header #menu article#services dl dd div#c1 h6 {
  font-variant: normal;
  font-style: italic;
  margin-left: 1.5em;
}
html body .container header #menu article#services dl dd div#c2 {
  width: 37.5%;
  margin: 0 0 0 0;
  float: left;
  font-weight: bold;
  color: white;
  background: #1a1a1a;
  position: relative;
  top: -2em;
}
html body .container header #menu article#services dl dd div#c2 a, html body .container header #menu article#services dl dd div#c2 a:visited, html body .container header #menu article#services dl dd div#c2 a:active {
  color: white;
  text-decoration: none;
}
html body .container header #menu article#services dl dd div#c2 p {
  padding: 0.3125em;
  text-align: center;
  font-size: 4em;
}
html body .container header #menu article#services dl dt {
  padding: 0;
}
html body .container header #menu article#services dl dd {
  margin-bottom: 1.875em;
}
html body .container header #menu article#services dl dd #c1 h6 {
  display: none;
}
html body .container header #menu article#services dl dd #c2 {
  display: none;
}
html body .container header #menu article#gifts dl ul {
  padding: 2.5em 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
html body .container header #menu article#gifts dl ul li {
  font-size: medium;
  font-family: "Old Standard TT", serif;
  letter-spacing: normal;
  color: #1a1a1a;
  cursor: pointer;
  padding: 0.3125em 1.25em;
  border-bottom: none;
}
html body .container header #menu article#gifts dl ul li.active {
  cursor: default;
  font-style: italic;
  font-size: 130%;
  padding: 0.625em 1.25em;
}
html body .container header #menu article#gifts dl ul li.hover {
  font-style: italic;
}
html body .container header #menu article#gifts dl #image {
  display: none;
}
html body .container header #menu article#gifts dl #description {
  margin: 1.25em 0;
  padding: 1.25em;
  background: #1a1a1a;
  color: white;
  font-family: "Lekton", sans-serif;
  opacity: .9;
}
html body .container header #menu article#gifts dl #description a, html body .container header #menu article#gifts dl #description a:visited, html body .container header #menu article#gifts dl #description a:hover {
  text-decoration: underline;
  color: #ffff33;
}
html body .container header #menu article#gifts dl #description #action {
  display: none;
}
html body .container header #menu article#premium ul {
  list-style-type: none;
  padding: 0;
}
html body .container header #menu article#premium ul li {
  font-size: 2em;
  font-weight: normal;
  font-style: italic;
  padding: 0.625em;
  border-bottom: 1px dotted;
}
html body .container header #menu article#premium ul li span {
  font-weight: bold;
  background: #1a1a1a;
  color: white;
  font-family: "Lekton", sans-serif;
  padding: 0.3125em;
}
html body .container header #menu article#premium ul li span a, html body .container header #menu article#premium ul li span a:visited, html body .container header #menu article#premium ul li span a:hover {
  text-decoration: underline;
  color: #ffff33;
}
html body .container header #menu article#premium ul li {
  font-size: medium;
}
html body .container header #menu article#premium ul li span {
  font-weight: normal;
  margin: 0.15625em 0;
  display: inline-block;
}
html body .container header #cart-and-info {
  position: absolute;
  top: 1.25em;
  right: 1.25em;
  width: 11%;
  /* otherwise the italic on hover is moving the entire ul */
}
html body .container header #cart-and-info ul {
  font-size: smaller;
  margin: 0.625em;
}
html body .container header #cart-and-info ul li {
  cursor: pointer;
}
html body .container header #cart-and-info ul li ul {
  display: none;
}
html body .container header #cart-and-info ul li:hover {
  font-style: italic;
}
html body .container footer {
  width: 100%;
  float: left;
  display: none;
  margin: 5em 0 2.5em;
  padding: 1.25em 0;
  border-top: 1px solid;
}
html body .container footer ul {
  display: block;
  margin: 0;
}
html body .container footer ul li {
  display: inline-block;
  list-style-type: none;
  margin-left: 0;
}

html .container #intro {
  width: 100%;
  float: left;
}
html .container #intro header h3 {
  display: none;
}
html .container #intro nav {
  margin: 14.0625% 0 0 14.0625%;
}
html .container #intro nav ul {
  margin: 0;
  background: transparent;
}
html .container #intro nav ul li {
  font-family: "Ostrich Rounded";
  letter-spacing: .1em;
  font-size: 2em;
  margin-bottom: 0.625em;
  padding-bottom: 0.625em;
  border-bottom: 1px solid;
  cursor: pointer;
  color: #999999;
}
html .container #intro nav ul li span {
  font-family: "Old Standard TT", serif;
  letter-spacing: normal;
  font-style: italic;
}
html .container #intro nav ul li.active {
  color: #1a1a1a;
}
html .container #intro nav ul li.active dl {
  display: block;
}
html .container #intro nav ul li.active:after {
  content: "\2605";
  padding-left: 0.625em;
}
html .container #intro nav ul li.hover {
  color: #1a1a1a;
}
html .container #intro aside {
  width: 62.5%;
  height: 62.5%;
  position: absolute;
  top: 14.0625%;
  left: 37.5%;
  background-color: #ffff33;
  opacity: .97;
}
html .container #intro article {
  display: none;
  font-family: "Old Standard TT", serif;
  letter-spacing: normal;
  width: 62.5%;
  height: 62.5%;
  position: absolute;
  top: 14.0625%;
  left: 37.5%;
  z-index: 1;
  margin: 0;
}
html .container #intro article a, html .container #intro article a:visited, html .container #intro article a:active {
  color: #1a1a1a;
  text-decoration: none;
}
html .container #intro article.active {
  display: block;
}
html .container #intro article#services dl {
  cursor: default;
}
html .container #intro article#services dl dt {
  text-transform: none;
  font-size: 2em;
  font-weight: normal;
  padding: 1.25em;
}
html .container #intro article#services dl dd {
  width: 100%;
  float: left;
  padding-bottom: 0.625em;
  margin: 0;
}
html .container #intro article#services dl dd div#c1 {
  width: 62.5%;
  margin: 0 0 0 0;
  float: left;
}
html .container #intro article#services dl dd div#c1 h5, html .container #intro article#services dl dd div#c1 h6 {
  font-family: "Old Standard TT", serif;
  letter-spacing: normal;
  font-size: medium;
  padding: 0.3125em 0;
  margin-left: 1.25em;
}
html .container #intro article#services dl dd div#c1 h5 {
  text-transform: none;
  font-variant: small-caps;
  border-bottom: 1px dotted;
}
html .container #intro article#services dl dd div#c1 h6 {
  font-variant: normal;
  font-style: italic;
  margin-left: 1.5em;
}
html .container #intro article#services dl dd div#c2 {
  width: 37.5%;
  margin: 0 0 0 0;
  float: left;
  font-weight: bold;
  color: white;
  background: #1a1a1a;
  position: relative;
  top: -2em;
}
html .container #intro article#services dl dd div#c2 a, html .container #intro article#services dl dd div#c2 a:visited, html .container #intro article#services dl dd div#c2 a:active {
  color: white;
  text-decoration: none;
}
html .container #intro article#services dl dd div#c2 p {
  padding: 0.3125em;
  text-align: center;
  font-size: 4em;
}
html .container #intro article#gifts dl {
  height: 100%;
  margin: 0;
}
html .container #intro article#gifts dl ul {
  width: 37.5%;
  margin: 0 0 0 0;
  float: left;
  padding: 2.5em 0;
  list-style-type: none;
  background: #ffff33;
  opacity: .9;
}
html .container #intro article#gifts dl ul li {
  font-size: medium;
  font-family: "Old Standard TT", serif;
  letter-spacing: normal;
  color: #1a1a1a;
  cursor: pointer;
  padding: 0.3125em 1.25em;
  border-bottom: none;
}
html .container #intro article#gifts dl ul li.active {
  cursor: default;
  font-style: italic;
  font-size: 130%;
  padding: 0.625em 1.25em;
}
html .container #intro article#gifts dl ul li.hover {
  font-style: italic;
}
html .container #intro article#gifts dl div#image {
  width: 62.5%;
  margin: 0 0 0 0;
  float: left;
  padding: 0;
  height: 100%;
  background-color: #ffff33;
  background-repeat: no-repeat;
  background-position: 37.5% 62.5%;
}
html .container #intro article#gifts dl div#description {
  position: relative;
  width: 37.5%;
  min-height: 14.0625%;
  top: -62.5%;
  left: 23.4375%;
  padding: 1.25em;
  display: inline-block;
  background: #1a1a1a;
  color: white;
  font-family: "Lekton", sans-serif;
  opacity: .9;
}
html .container #intro article#gifts dl div#description a, html .container #intro article#gifts dl div#description a:visited, html .container #intro article#gifts dl div#description a:hover {
  text-decoration: underline;
  color: #ffff33;
}
html .container #intro article#premium ul {
  list-style-type: none;
  padding: 0;
}
html .container #intro article#premium ul li {
  font-size: 2em;
  font-weight: normal;
  font-style: italic;
  padding: 0.625em;
  border-bottom: 1px dotted;
}
html .container #intro article#premium ul li span {
  font-weight: bold;
  background: #1a1a1a;
  color: white;
  font-family: "Lekton", sans-serif;
  padding: 0.3125em;
}
html .container #intro article#premium ul li span a, html .container #intro article#premium ul li span a:visited, html .container #intro article#premium ul li span a:hover {
  text-decoration: underline;
  color: #ffff33;
}

html body .container #sidebar {
  width: 37.5%;
  margin: 0 0 0 0;
  float: left;
}
html body .container #sidebar h3 {
  display: none;
}
html body .container #content {
  width: 62.5%;
  margin: 0 0 0 0;
  float: left;
}
html body .container #content h3 {
  display: none;
}

/* Single article
*/
html body.single .container #content article header {
  width: 100%;
  float: left;
  display: block;
}
html body.single .container #content article .entry .featured-image {
  background: white;
  box-shadow: 0 10px 25px -10px rgba(0, 0, 0, 0.698), 0 1px rgba(0, 0, 0, 0.1), 0 0 4px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 10px 25px -10px rgba(0, 0, 0, 0.698), 0 1px rgba(0, 0, 0, 0.1), 0 0 4px rgba(0, 0, 0, 0.1) inset;
  -webkit-box-shadow: 0 10px 25px -10px rgba(0, 0, 0, 0.698), 0 1px rgba(0, 0, 0, 0.1), 0 0 4px rgba(0, 0, 0, 0.1) inset;
}
html body.single .container #content article .entry .thumbs {
  width: 100%;
  float: left;
  display: block;
}
html body.single .container #content article .entry .thumbs .item {
  width: 100px;
  height: 100px;
  float: left;
  margin: 0 0.3125em 0.625em 0;
  border: 1px solid;
}
html body.single .container #content article .entry .shopping {
  position: relative;
  top: -35em;
  left: 15%;
}
html body.single .container #content article .entry .excerpt {
  display: none;
}
html body.single .container #content article .entry .body {
  width: 100%;
  float: left;
  display: block;
}
html body.single .container #content article .entry .body h3 {
  margin-bottom: 0.625em;
  padding-bottom: 0.625em;
  border-bottom: 1px solid;
  cursor: pointer;
  display: block;
}
html body.single .container #content article .entry .body .pane {
  display: none;
}
html body.single .container #shopping-info {
  width: 20%;
  margin: 0 0 0 0;
  float: left;
  display: block;
}
html body.single .container .product-scroller {
  display: none;
}
html body.single .container #sidebar {
  display: none;
}

/* Articles on index page
*/
/* Icons */
html body .container #content article.icons {
  width: 20%;
  height: 13em;
  margin: 0 5% 20em 0;
  float: left;
  background: white;
  box-shadow: 0 10px 25px -10px rgba(0, 0, 0, 0.698), 0 1px rgba(0, 0, 0, 0.1), 0 0 4px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 10px 25px -10px rgba(0, 0, 0, 0.698), 0 1px rgba(0, 0, 0, 0.1), 0 0 4px rgba(0, 0, 0, 0.1) inset;
  -webkit-box-shadow: 0 10px 25px -10px rgba(0, 0, 0, 0.698), 0 1px rgba(0, 0, 0, 0.1), 0 0 4px rgba(0, 0, 0, 0.1) inset;
}
html body .container #content article.icons header {
  position: relative;
  top: 13em;
}
html body .container #content article.icons header h1 {
  font-size: 100%;
}
html body .container #content article.icons .entry {
  position: relative;
  top: -2em;
}
html body .container #content article.icons .entry .featured-image {
  text-align: center;
}
html body .container #content article.icons .entry .featured-image img {
  max-height: 7em;
}
html body .container #content article.icons .entry .shopping {
  position: relative;
  top: 8em;
}
html body .container #content article.icons .entry .excerpt {
  display: none;
}
html body .container #content .product-scroller.icons {
  display: none;
}

/* List */
html body .container #content article.list {
  width: 60%;
  height: 31em;
  margin: 0 0 5em;
  float: left;
  background: white;
  box-shadow: 0 10px 25px -10px rgba(0, 0, 0, 0.698), 0 1px rgba(0, 0, 0, 0.1), 0 0 4px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 10px 25px -10px rgba(0, 0, 0, 0.698), 0 1px rgba(0, 0, 0, 0.1), 0 0 4px rgba(0, 0, 0, 0.1) inset;
  -webkit-box-shadow: 0 10px 25px -10px rgba(0, 0, 0, 0.698), 0 1px rgba(0, 0, 0, 0.1), 0 0 4px rgba(0, 0, 0, 0.1) inset;
}
html body .container #content article.list header {
  position: relative;
  left: 105%;
  width: 70%;
  float: left;
}
html body .container #content article.list header h1 {
  padding-left: 0.3125em;
}
html body .container #content article.list .entry .featured-image {
  text-align: center;
}
html body .container #content article.list .entry .featured-image img {
  max-height: 20em;
}
html body .container #content article.list .entry .shopping {
  position: relative;
  left: 105%;
  top: -3.75em;
  width: 70%;
  float: left;
}
html body .container #content article.list .entry .excerpt {
  position: relative;
  left: 105%;
  top: -25em;
  width: 70%;
  float: left;
}
html body .container #content .product-scroller.list {
  display: none;
}

/* Mixed */
html body .container #content article.mixed {
  width: 60%;
  height: 31em;
  margin-right: 2%;
  float: left;
  background: white;
  box-shadow: 0 10px 25px -10px rgba(0, 0, 0, 0.698), 0 1px rgba(0, 0, 0, 0.1), 0 0 4px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 10px 25px -10px rgba(0, 0, 0, 0.698), 0 1px rgba(0, 0, 0, 0.1), 0 0 4px rgba(0, 0, 0, 0.1) inset;
  -webkit-box-shadow: 0 10px 25px -10px rgba(0, 0, 0, 0.698), 0 1px rgba(0, 0, 0, 0.1), 0 0 4px rgba(0, 0, 0, 0.1) inset;
}
html body .container #content article.mixed header {
  position: relative;
  z-index: 1;
  top: 24.6em;
  background: #eee;
  opacity: .7;
}
html body .container #content article.mixed header h1 {
  padding-left: 0.3125em;
}
html body .container #content article.mixed .entry {
  position: relative;
  top: -6.4em;
}
html body .container #content article.mixed .entry .shopping {
  position: relative;
  top: 6em;
  float: right;
  margin-right: 0.625em;
  z-index: 2;
  background: #eee;
  opacity: .7;
}
html body .container #content article.mixed .entry .excerpt {
  position: relative;
  top: 5em;
  padding-left: 0.625em;
}
html body .container #content article.mixed.not-first {
  width: 15%;
  height: auto;
  float: left;
  padding: 1%;
  margin: 0 2% 5% 0;
}
html body .container #content article.mixed.not-first header {
  display: none;
}
html body .container #content article.mixed.not-first .entry {
  top: 0;
}
html body .container #content article.mixed.not-first .entry .shopping {
  display: none;
}
html body .container #content article.mixed.not-first .entry .excerpt {
  display: none;
}
html body .container #content article.mixed.odd {
  margin-right: 0;
}
html body .container #content article.mixed.count-8,
html body .container #content article.mixed.count-9,
html body .container #content article.mixed.count-10 {
  display: none;
}
html body .container #content .product-scroller.mixed {
  font-size: 4em;
  position: relative;
  cursor: pointer;
  width: 10%;
  height: 0;
}
html body .container #content #product-scroll-left.mixed {
  left: 68%;
}
html body .container #content #product-scroll-right.mixed {
  left: 88%;
}

/* Large */
html body .container #content article.large {
  height: 40em;
  background: white;
  box-shadow: 0 10px 25px -10px rgba(0, 0, 0, 0.698), 0 1px rgba(0, 0, 0, 0.1), 0 0 4px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 10px 25px -10px rgba(0, 0, 0, 0.698), 0 1px rgba(0, 0, 0, 0.1), 0 0 4px rgba(0, 0, 0, 0.1) inset;
  -webkit-box-shadow: 0 10px 25px -10px rgba(0, 0, 0, 0.698), 0 1px rgba(0, 0, 0, 0.1), 0 0 4px rgba(0, 0, 0, 0.1) inset;
}
html body .container #content article.large header {
  position: relative;
  z-index: 1;
  top: 33.6em;
  background: #eee;
  opacity: .7;
}
html body .container #content article.large header h1 {
  padding-left: 0.3125em;
}
html body .container #content article.large .entry {
  position: relative;
  top: -2em;
}
html body .container #content article.large .entry .shopping {
  position: relative;
  top: -2.85em;
  float: right;
  margin-right: 0.625em;
  z-index: 2;
  background: #eee;
  opacity: .7;
}
html body .container #content article.large .entry .excerpt {
  position: relative;
  top: -1.25em;
  padding-left: 0.625em;
}
html body .container #content article.large.not-first {
  display: none;
}
html body .container #content .product-scroller.large {
  font-size: 4em;
  position: relative;
  top: -6em;
  cursor: pointer;
  width: 10%;
  height: 0;
}
html body .container #content #product-scroll-left.large {
  left: 1%;
}
html body .container #content #product-scroll-right.large {
  left: 96%;
}

html body .container #content article.page {
  width: 100%;
  float: left;
}
html body .container #content article.page header {
  float: none;
}
html body .container #checkout {
  width: 20%;
  margin: 0 0 0 0;
  float: left;
  display: block;
}

/* Generally available settings
*/
img {
  max-width: 100%;
  height: auto;
}
