html {
	.container {
		#intro {
			@include block;
			margin-top: $pad*4;
			
			h3 {
				@include hidden;
			}
			
			
			nav {       
				@include col($minor - $minor/8*3, $minor/8*3, 0);	
				
				ul {
					@include list-with-stars;
					margin-top: $minor;
				}
			}
			
			
			article {
			  @include col($major, 0, 0);	
				@include hidden;
				@include font-text;
				
				background: $color-highlight;
				opacity: .97;
				
				a, a:visited, a:active {
					@include link-neutral;
				}
			}
			article.active {
				display: block;
			}
			
			#services {
				dl {
					@include dlist;
				}
			}
			
			#gifts {
				dl {
					height: 100%;
					margin: 0;
					
					ul {
						@include col($minor, 0, 0);
						@include list-categories;
					}
					
					div#image {
						@include col($major, 0, 0);
						padding: 0;
						
						height: 100%;									
		
						background-repeat: no-repeat;
						background-position: $minor $major;
					}
					
					div#description {
						position: relative;
						width: $minor;
						min-height: $minor/8*3;
						top: -$major;
						left: $minor - $minor/8*3;
						
						padding: $pad;
						display: inline-block;
						
						@include text-action;
						opacity: .9;
					}
				}
			}
			
			#premium {
				ul {
					@include list-premium;
				}
			}
		}
	}
}

				      
